.animeItems {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    padding-right: 5vh;
  }
  
  @media screen and (max-width< 900px) {
    .animeItems {
        grid-template-columns: 1fr 1fr 1fr 1fr }}

  @media screen and (max-width: 1150px) {
    .animeItems {
        grid-template-columns: 1fr 1fr 1fr }}

  @media screen and (max-width: 900px) {
   .animeItems {
     grid-template-columns: 1fr 1fr }}
    
   @media screen and (max-width: 570px) {
      .animeItems {
        grid-template-columns: 1fr }}
  
  .animeItems li {
    padding: 0.5em;
  }

  .animeItem {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .animeTitle {
  /* other styling */
    height:50px; 
    /* width:100%; */
    margin-top:220px;
    position: relative; 
    z-index: 1;  
    color:black;
    background-color: white;
    border-radius: 0% 0% 15% 15%; 
    font-weight: 500; 
    text-align: center; 
    font-size: 10px;

/* allow 2 lines of text and then append an ellipsis. */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  
  .animeImage {
    margin-top: -1.6px; 
    border-radius: 10% 10% 0% 0%; 
    height:250px; 
    width:100%;
  }

  .animeRank {
    position: relative; 
    z-index: 99; 
    height: 24px; 
    width:36.8px;
    margin-top: -256.42px; 
    margin-left: 163.2px; 
    border-radius: 0% 50% 0% 0%; 
    background-color: pink; 
    color:black; 
    font-weight: 600; 
    font-family: sans-serif;
    font-size: 20px; 
    text-align:center; 
  }

  .zoom {
    border: none; 
    border-radius: 10% 10% 0% 0%; 
    height:300px; 
    width:200px;
    transition: transform .2s;
    }
    
    .zoom:hover {
      -ms-transform: scale(1.4); /* IE 9 */
      -webkit-transform: scale(1.4); /* Safari 3-8 */
      transform: scale(1.4);
      /* position: absolute; */
      z-index: 999;
    }

    .payloadYear {
      font-size: 1vw;
      font-weight: 900; 
      line-height:0.5vw;
    }
  
    .payloadTitle {
      display: inline; 
      font-weight:700;
      font-size: 1vw; 
      white-space: pre-line;
    }

    .subContainer {
      /* don't display except on hold */
      display: none;

      /* other styling */
      position: relative; 
      z-index: 1; 
      background-color: white;
      color:black; 
      margin-block:-21.8px; 
      border-radius: 0% 0% 10% 10%; 
      height:inline; 
      width:100%;
    }

  .mainContainer:hover + .subContainer {
      display: block;
  }

  .subContainerBody {
    display:flex; 
    font-size: 10px; 
    margin-left:16px;
    }

  .subContainerKey {
    margin-right: 3.2px; 
    font-weight: 800;
  }

  .subContainerValue {
    font-weight: 500;
  }

  .fullCaption {
      width:100%; 
      height:100%;
    }

  .caption {
    width: 100%;
    /* margin-right: -2vh; */
    padding-left: 15.2vh;
    display: inline;
    overflow-x: scroll;
    overflow-y: hidden;
  }

 @media screen and (min-width< 570px) {
    .caption {
      width: 100%; 
      overflow-x: scroll;
    }}

      @media screen and (max-width: 570px) {
        .caption {
          width: 100%;
            overflow-x: scroll;
         }} 
